/**
 * OdmaInvalidDataTypeException
 * 
 * Thrown when the provided data type does not match the expected data type.
 */
class OdmaInvalidDataTypeError extends OdmaError {

    /**
     * Create a new OdmaInvalidDataTypeError.
     * 
     * @param {string} message - The error message.
     */
    constructor(message = "Invalid data type provided") {
        super(message);
    }

}
