<?php

/**
 * 
 * @category   OpenDMA
 * @package    OpenDMA_Exceptions
 * @author Stefan Kopf, xaldon Technologies GmbH, the OpenDMA architecture board
 */
class OpenDMA_Exceptions_OdmaException extends Exception
{
}