use std::io::{self, Read};

/// Represents the Content data type in OpenDMA.
/// Provides access to the content stream and its size.
pub trait OdmaContent {

    /// Returns a reader for the content's binary data.
    fn stream(&self) -> io::Result<Box<dyn Read + Send + Sync>>;

    /// Returns the size of the content in bytes.
    fn size(&self) -> io::Result<u64>;

}
