import Foundation

// Represents the Content data type in OpenDMA.
// Provides access to the content stream and its size.
public protocol OdmaContent {

    // Returns a binary stream of the content data
    var stream: InputStream { get throws }
    
    // Returns the size of the content in bytes
    var size: Int { get throws }

}
