// swift-tools-version: 6.1

import PackageDescription

let package = Package(
    name: "OpenDMA",
    products: [
        .library(
            name: "OpenDMA",
            targets: ["OpenDMA"]
        ),
    ],
    dependencies: [],
    targets: [
        .target(
            name: "OpenDMA",
            dependencies: [],
        ),
    ]
)
