package opendma

// Represents the result of a search operation.
// Provides access to the objects found and number of objects.
type OdmaSearchResult interface {

    // Returns the collection of objects found by the search.
    GetObjects() (OdmaObjectIterable, error)

    // Returns the number of objects found by the search or -1 if the total size is unknown.
    GetSize() (int32, error)

}
