    /// <summary>
    /// A <i>Property</i> of an <see cref="OdmaObject"/> in the OpenDMA architecture.
    /// It is always bound in name, data type, and cardinality and cannot change these.
    /// If this property is not read-only (i.e., <see cref="IsReadOnly"/> returns <c>false</c>),
    /// its value can be changed via the <see cref="Value"/> property.
    /// Changes are only persisted in the repository after a call to the
    /// <c>Save()</c> method of the containing object.
    /// </summary>
    public interface IOdmaProperty
    {