using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using OpenDMA.Api;

namespace OpenDMA.Exceptions
{

    public class OdmaAccessDeniedException : ApplicationException
    {
        
        public override string ToString()
        {
            return base.ToString();
        }

        public override string Message
        {
            get
            {
                return base.Message;
            }
        }

    }

}